{
    "application_id": "",
    "emojis": {
        "cloudy": "INSERT EMOJI",
        "drizzle": "INSERT EMOJI",
        "error": "INSERT EMOJI",
        "few_showers": "INSERT EMOJI",
        "fine": "INSERT EMOJI",
        "fog": "INSERT EMOJI",
        "frost": "INSERT EMOJI",
        "hail": "INSERT EMOJI",
        "next": "▶️",
        "orange_warning": "INSERT EMOJI",
        "partly_cloudy": "INSERT EMOJI",
        "pending": "INSERT EMOJI",
        "permission_error": "⛔",
        "ping": "📶",
        "previous": "◀️",
        "rain": "INSERT EMOJI",
        "red_warning": "INSERT EMOJI",
        "showers": "INSERT EMOJI",
        "snow": "INSERT EMOJI",
        "success": "INSERT EMOJI",
        "temperature_high": "INSERT EMOJI",
        "temperature_low": "INSERT EMOJI",
        "thunder": "INSERT EMOJI",
        "watch": "INSERT EMOJI",
        "wind": "INSERT EMOJI",
        "wind_rain": "INSERT EMOJI"
    }
}
