{
    "application_id": "INSERT_APPLICATION_ID_HERE",
    "emojis": {
        "success": "INSERT_EMOJI_HERE",
        "pending": "INSERT_EMOJI_HERE",
        "error": "INSERT_EMOJI_HERE",
        "permission_error": ":no_entry:",
        "previous_button": ":arrow_left:",
        "next_button": ":arrow_right:",
        "temperature_high": ":small_red_triangle:",
        "temperature_low": ":small_red_triangle_down:",
        "metservice_icons": [
            {
                "name": "fine",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "partly_cloudy",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "cloudy",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "few_showers",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "showers",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "rain",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "drizzle",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "fog",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "snow",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "wind",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "wind_rain",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "thunder",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "hail",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "frost",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "watch",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "orange_warning",
                "value": "INSERT_EMOJI_HERE"
            },
            {
                "name": "red_warning",
                "value": "INSERT_EMOJI_HERE"
            }
        ]
    }
}